@media only screen and (max-width:767px) {
    .main {
        display: none;
    }

    .loggi img {
        width: 70%;
    }

    .foots {
        padding-top: 3%;
    }

    .patient img {
        float: none;
    }
}